<h1>Javascript Sleep Efficiency Calculator</h1>
<div class="description">
This tool calculates how good your sleep is, by assigning a value for each day between one and one hundred<br/>
To use:
<ul>
<li>For each day, add a the date</li>
<li>Add number of hours you were in bed</li>
<li>Add the number of hours you were asleep</li>
</ul>

</div>

<h2>SpreadJS</h2>

<gc-spread-sheets
[backColor]="spreadBackColor"
[hostStyle]="hostStyle"
(workbookInitialized)="workbookInit($event)"
>
  <gc-worksheet [name]="sheetName" [dataSource]="SpreadJsData">
  <gc-column dataField="Day" width="300"></gc-column>
  <gc-column dataField="Date" width="300"></gc-column>
  <gc-column dataField="HoursInBed" [width]="SpreadJSWidth"></gc-column>
  <gc-column dataField="HoursAsleep" [width]="SpreadJSWidth"></gc-column>
  <gc-column dataField="SleepEfficiency" width="300"></gc-column>
    </gc-worksheet>
  </gc-spread-sheets>

  <h2>JSpreadsheet</h2>
  <div #spreadsheet></div>